[user]
    email = hey@itsdaniel.dk
    name = itsdanieldk
[credential]
    helper = osxkeychain
[core]
    editor = nvim
[init]
    defaultBranch = main
[pull]
    rebase = true
[push]
    autoSetupRemote = true
